.af-tit-text{
    z-index: 10;
    position: relative;
    width: 65%;
    margin-left: 100px;
    padding-top: 300px;
    font-family: MontBold;
    color: #522d6d;
    text-transform: uppercase;
    font-size: 40pt;
    word-break: break-word;
    word-spacing: 20pt;
}

.af-desc-text{
    width: 45%;
    margin-left: 100px;
    font-family: MontUltraLight;
    color: $primaryColor;
    font-size: 1em;
    word-spacing: 10pt;
}

.af-img{
    width: 45%;
    position: absolute;
    top: 150px;
    right: 50px;
}

[data-afiliacion="afiliacion"] {
    color: $primaryColor !important;
}

[data-desc="afiliacion"] {
    line-height: 25px !important;
    margin-top: 10px !important;
}

.motiva-afi{
    width: auto;
    padding-left: 100px;
    padding-right: 100px;
    min-height: 200px;
    background: #fff;
    border-top-right-radius: 150px;
    border-bottom-left-radius: 150px;
    padding-bottom: 50px;
    

    .motiva-afi-tit{
        width: 100%;
        text-align: center;
        text-transform: uppercase;
        color: $primaryColor;
        font-family: MontBold;
        font-size: 20pt;
        padding-top: 50px;
    }

    .sub-afi{
        width: 100%;
        height: 510px;
        display: flex;
        align-items: center;

        .sub-card{
            width: 60%;
            height: 340px;
            padding: 10px;
            background: #fff;
            box-shadow: #3d2a4175 0px 4px 12px;
            position: absolute;
            z-index: 2;
            display: flex;
            flex-flow: wrap;
            justify-content: center;
            align-items: center;
            align-content: center;

            .sub-afi-tit{
                width: 80%;
                text-transform: uppercase;
                font-family: MontUltraLight;
                font-size: 25pt;
                color: $primaryColor;

                p{
                    font-family: MontBold;
                }
            }

            .sub-afi-desc{
                width: 80%;
                font-family: MontUltraLight;
                margin-top: 10px;
                line-height: 25px;
            }
        }

        .sub-afi-img{
            width: 60%;
            height: 440px;
            position: relative;
            margin-left: auto;
            margin-right: 0;
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            border-radius: 15px;
        }

    }






}


.comunidad-tit{
    margin-top: 50px;
    width: 50%;
    text-align: center;
    font-family: MontBold;
    text-transform: uppercase;
    color: $primaryColor;
    word-wrap: break-word;
    font-size: 25pt;
}

.comunidad-desc{
    width: 60%;
    text-align: center;
    margin-top: 20px;
    font-family: MontUltraLight;
    line-height: 25px;
}

.separador-resena{
    width: 100%;
}

.comunidad-imgs{
    width: 120px;
    height: 120px;
    border-radius: 120px;
    background-color: #d2d3d5;
    margin: 50px;
}


.afiliarse-2{
    width: auto;
    padding-top: 20px;
    padding-left: 100px;
    padding-right: 100px;
    padding-bottom: 100px;
    display: flex;
    flex-flow: wrap;
    justify-content: center;
    background: #fff;
    border-top-right-radius: 150px;
    border-bottom-left-radius: 150px;

    .afiliarse2-texto{
        width: 60%;
    } 
    .af2-tit1{
        width: 70%;
        font-family: MontBold;
        color: $naranjaFuerte;
        text-transform: uppercase;
        font-size: 20pt;
        margin-top: 50px;
    }
    .af2-desc1{
        font-family: MontUltraLight;
        margin-top: 20px;
    }

    .af2-tit2{
        width: 100%;
        font-family: MontBold;
        color: $primaryColor;
        text-transform: uppercase;
        font-size: 20pt;
        margin-top: 50px;
        margin-bottom: 20px;
    }

    li{
        font-family: MontUltraLight;
        margin-top: 5px;
    }

    li::marker{
        color: #ff7f30;
    }
    
    .afiliarse2-img{
        width: 40%;

        img{
            width: 100%;
            margin-top: 30px;
        }
    }

    .conocemas{
        width: 50%;
    }

    .completaproceso{
        width: 50%;
    }

    .cm-tit, .cp-tit{
        font-family: MontBold;
        font-size: 20pt;
        color: $primaryColor;
        text-transform: uppercase;
    }

    .cm-desc,.cp-desc{
        font-family: MontUltraLight;
        min-height: 120px ;
        margin-bottom: 10px;
        margin-top: 20px;

    }

    .afiliarse-descargar{
        width: 150px;
        padding: 1px 10px;
        display: flex;
        align-content: center;
        justify-content: center;
        align-items: center;
        height: 30px;
        background-color: #ffb259;
        color: #fff;
        border-radius: 5px;
        font-family: MontBold;
        font-size: 0.8em;
        cursor: pointer;
    }

    .afiliarse-boton{
        width: 220px;
        padding: 1px 10px;
        display: flex;
        align-content: center;
        justify-content: center;
        align-items: center;
        height: 30px;
        background-color: #ff7f30;
        color: #fff;
        border-radius: 5px;
        font-family: MontBold;
        font-size: 0.8em;
        cursor: pointer;
    }
    
}

.conocermas{
    position: relative;
    height: 600px;
    margin-top: -150px;
    width: auto;
    padding-left: 100px;
    padding-right: 100px;
    background-image: url('../assets/afiliación/Images_Divider_color.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    flex-flow: wrap;
    justify-content: center;
    align-content: center;
    align-items: center;


    .conocermas-tit{
        text-align: center;
        font-family: 'MontBold';
        color: $moradoOscuro;
        width: 70%;
        font-size: 20pt;
        text-transform: uppercase;
    }
    
    .conocermas-desc{
        width: 100%;
        font-family: MontUltraLight;
        color: $moradoOscuro;
        margin-top: 10px;
        text-align: center;
    }
}



// Divider en todas las res

// 1440 x 900
@media (max-width: 1440px) {
    .conocermas{
        padding-left: 10%;
        padding-right: 10%;
    }

    .conocermas-tit{
        width: 90%;
        font-size: 28pt;
        padding-top: 20px;
    }
}

// 1600 x 900

// 1920 x 1080


// Tableta

// 768 x 1024  // que pedo el @media no esta jalando bien
@media (min-width: 768px) {
    .conocermas{
        padding-left: 10%;
        padding-right: 10%;
    }

    .conocermas-tit{
        width: 90% ;
    }
}

@media (max-width: 900px) {
    .conocemas{
        width: 90% !important;
        margin-bottom: 20px;
    }

    .completaproceso{
        width: 90% !important;
    }

   
}

// Tableta chica

// 540 x 720
@media (max-width: 540px) {
    .conocermas{
        padding-left: 10%;
        padding-right: 10%;
        height: 525px;

        .conocermas-tit{
            width: 100%;
            font-size: 17pt;
        }
        
        .conocermas-desc{
            font-size: .9rem;
        }
    }
}

// Móvil
// 320
@media (max-width: 320px) {
    .conocermas-tit{
        font-size: 10pt;
    }
}

// 375
// 410
@media (max-width: 410px) {
    .conocermas{
        height: 470px; 
        padding-left: 10%;
        padding-right: 10%;

        .conocermas-tit{
            font-size: 12pt;
            width: 100%;
        }
        
        .conocermas-desc{
            font-size: .6rem;
        }
    }
}

[data-desc="afiliacion"]{
    padding-right: 100px;
}

@media (max-width:1000px) {
    .af-tit-text{
        padding-top: 200px !important;
    }

    [data-desc="afiliacion"]{
        padding-right: 0% !important;
    }

    .sub-card{
        height: max-content !important;
    }

    .sub-afi{
        height: max-content !important;
        margin: 50px 0px;
    }

    
}
//Home Seccion IMG
@media (max-width:800px) {

    .home-bienestar{
        height: max-content !important;
    }
    .af-img{
        position: inherit;
        width: 80%;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }

    [afi-2="afiliacion"]{
        padding-bottom: 50px !important;
        height: 120vh !important;
        height: 120vh !important;
    }

    .motiva-afi-tit{
        margin-bottom: 60px;
    }

    [afi-2="img"]{
        width: 80% !important;
    }
    
    [afi-2="info"]{
        width: 90% !important;
        margin-left: auto;
        margin-right: auto;
    }

    .afiliarse2-img{
        width: 80% !important;
        display: flex;
        align-content: center;
        align-items: center;
    }

    

    .cp-desc{
       
        margin: 10px 0px !important;
    }

   
    
}


@media (max-width:600px) {

    [afi-2="info"]{
        margin-left: 10%;
        margin-top: unset !important;
    }

    .sub-afi-tit{
        font-size: 20pt !important;
    }

    .sub-card{
        width: 100% !important;
        position: inherit !important;
    }

    .motiva-afi{
        padding-left: 30px;
        padding-right: 30px;
        margin-top: 150px;
    }

    .afiliarse-2{
        padding-left: 30px;
        padding-right: 30px;
    }

    .afiliarse2-texto{
        width: 90% !important;
    }

    .af2-tit1{
        width: 100% !important;
    }

    .sub-afi-img{
        position:  absolute !important;
    }

    .comunidad-tit{
        width: 90%;
    }

    .comunidad-desc{
        width: 90%;
    }

    .conocermas-desc{
        margin-bottom: 20px !important;
    }
}

@media (min-width:320px) {
    .af-tit-text{
        padding-top: 150px !important;
        width: 80% !important;
        margin-left: 50px !important;
        font-size: 20pt !important;
    }

    .af-desc-text{
        width: 80% !important;
        margin-left: 50px !important;
    }

    [afi-2="afiliacion"]{
        margin-top: 40px !important;
    }
}

@media (min-width:800px) {
    .af-tit-text{
        font-size: 20pt !important;
        padding-top: 300px !important;
        width: 65% !important;
        margin-left: 100px !important;
        font-size: 40pt !important;
    }

    .af-desc-text{
        width: 45% !important;
        margin-left: 100px !important;
    }

    [afi-2="afiliacion"]{
        margin-top: 20px !important;
        padding-bottom: 50px;
    }

    .cm-desc,.cp-desc{
        font-family: MontUltraLight;
        min-height: max-content !important;

    }

    
    
}


@media (min-width:1000px) {


    [afi-2="afiliacion"]{
        margin-top: -100px !important;
    }
}