
#atencion-tarjetas{
    width: auto;
    padding-left:100px;
    padding-right:100px;
}


.med-tradicional{
    width: 100%;
    font-family: 'MontBold';
    text-align: center;
    .med-title{
        font-family:'MontExtraBold';
        width: 30%;
        margin-left: auto;
        margin-right: auto;
        padding-top: 2rem;
        padding-bottom: 2rem;
        color: $primaryColor;
        font-size: 1.5rem;
        text-transform: uppercase;
    }

    .med-desc{
        padding-bottom: 2rem ;
        font-size: .9rem;
        font-family: 'MontLight';
    }

    .med-button{
        width: 15rem;
        height: 2rem;
        margin-left: auto;
        margin-right: auto;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 10px;
        color: white;
        background-color: $naranjaFuerte;
        &:hover{
            cursor:pointer;
        }
    }
}

.slider {
    width: 90%;
    margin: 100px auto;
}

.card{
    border: 1px white !important; 
    width: 15rem;
}

.card-image{
    img{
        border-radius: 15px;
    }
}

#cartaslider{
    margin-top: 0px !important;
}

.row{
    overflow: hidden;
}

.pantalla-oscura{
    position: absolute;
    border-radius: 15px;
    top: 0px;
    left: 0px;
    z-index: 9;
    width: 100%;
    height: 12rem;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.616);

    a{
        text-decoration: none;
        font-family: 'MontBold';
        color: white;
    }
}


.slick-slide {
    margin: 0px 20px;
    border: 0px solid black;
    outline: none;
}

.slick-slider{
    margin-top: 3rem;
}

.slick-slide img {
    width: 100%;
    height: 12rem;
    margin-bottom: 10px;
}

.slick-prev:before,
.slick-next:before {
  color: grey;

}


.slick-slide {
  transition: all ease-in-out .3s;
  opacity: 0.8;
    
}

.slick-active {
  opacity: 1;
 
}

.slick-current {
  opacity: 1;

}

.slick-dots {
	display: flex;
	justify-content: center;
	margin: 0;
	padding: 1rem 0;
    button {
        display: block;
        width: 1rem;
        height: 1rem;
        padding: 0;
        border: none;
        border-radius: 100%;
        background-color: rgb(201, 201, 201) !important;
        text-indent: -9999px;
    }

    li.slick-active button {
        background-color: $moradoOscuro !important;
    }
}




