.at-tit-text{
    z-index: 10;
    position: relative;
    width: 70%;
    margin-left: 100px;
    padding-top: 250px;
    font-family: MontBold;
    color: #522d6d;
    text-transform: uppercase;
    font-size: 3.5rem;
    word-break: break-word;
    word-spacing: 20pt;
}

.at-desc-text{
    width: 45%;
    margin-left: 100px;
    font-family: MontUltraLight;
    color: $primaryColor;
    font-size: 1em;
    word-spacing: 10pt;
}



#atencion-tarjetas{
    width: auto;
    padding-left: 100px;
    padding-right: 100px;
    padding-top: 2rem;
    background: #f1f2f2;
    z-index: 1;
    position: relative;
    padding-bottom: 2rem;
    border-bottom-left-radius: 150px;

}


.med-tradicional{
    width: 100%;
    font-family: 'MontBold';
    text-align: center;
    .med-title{
        font-family:'MontExtraBold';
        width: 40%;
        margin-left: auto;
        margin-right: auto;
        padding-bottom: 2rem;
        color: $primaryColor;
        font-size: 1.5rem;
        text-transform: uppercase;
    }

    .med-desc{
        padding-bottom: 2rem ;
        font-size: .9rem;
        font-family: 'MontLight';
    }

    .med-button{
        width: 15rem;
        height: 2rem;
        margin-left: auto;
        margin-right: auto;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 10px;
        color: white;
        background-color: $naranjaFuerte;
        &:hover{
            cursor:pointer;
        }
    }
}

.slider {
    width: 90%;
    margin: 100px auto;
}

.card{
    border: 1px rgb(99, 99, 99) !important; 
    width: 15rem;
    background-color: #f1f2f2 !important;
}

.card-image{
    img{
        border-radius: 15px;
    }
}

#cartaslider{
    margin-top: 0px !important;
}

.row{
    overflow: hidden;
}

.pantalla-oscura{
    position: absolute;
    border-radius: 15px;
    top: 0px;
    left: 0px;
    z-index: 9;
    width: 100%;
    height: 12rem;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.616);

    a{
        text-decoration: none;
        font-family: 'MontBold';
        color: white;
    }
}


.slick-slide {
    margin: 0px 20px;
    border: 0px solid black;
    outline: none;
}

.slick-slider{
    margin-top: 3rem;
}

.slick-slide img {
    width: 100%;
    height: 12rem;
    margin-bottom: 10px;
}

.slick-prev:before,
.slick-next:before {
  color: grey;

}


.slick-slide {
  transition: all ease-in-out .3s;
  opacity: 0.8;
    
}

.slick-active {
  opacity: 1;
 
}

.slick-current {
  opacity: 1;

}

.slick-dots {
	display: flex;
	justify-content: center;
	margin: 0;
	padding: 1rem 0;
    button {
        display: block;
        width: 1rem;
        height: 1rem;
        padding: 0;
        border: none;
        border-radius: 100%;
        background-color: rgb(201, 201, 201) !important;
        text-indent: -9999px;
    }

    li.slick-active button {
        background-color: $moradoOscuro !important;
    }
}


.atencion-info{
    position: relative;
    height: 600px;
    margin-top: -150px;
    width: auto;
    padding-left: 100px;
    padding-right: 100px;
    background-image: url('../assets/Web_DividerAtencion_atencion_IMG.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    flex-flow: wrap;
    justify-content: center;
    align-content: center;
    align-items: center;

    .atencion-infoContainer{
        width: 60%;
        margin-left: 0;
        margin-right: auto;
    }

    .atencion-tit{
        text-align: left;
        font-family: 'MontBold';
        color: $moradoOscuro;
        width: 70%;
        font-size: 2.5rem;
        text-transform: uppercase;
    }
    
    .atencion-desc{
        width: 100%;
        font-family: 'MontUltraLight';
        color: $moradoOscuro;
        margin-top: 10px;
        text-align: left;
    }

    .divider-btn{
        height: 2rem;
        width: 12rem;
        margin-top: 1rem;
        font-family: 'MontRegular';
        margin-left: 0;
        margin-right: auto;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 10px;
        color: white;
        background-color: $naranjaFuerte;
        &:hover{
            cursor:pointer;
        }
    }
}

.grupos-vulnerables{
    margin-top: -150px;
    padding-top: 100px;
    padding-bottom: 100px;
    display: flex;
    height: 50rem;
    width: 100%;
    border-top-right-radius: 150px;
    border-bottom-left-radius: 150px;
    margin-left: auto;
    margin-right: auto;
    background-color: white;
    z-index: 2;
    position: relative;
    .grupos-img{
        width: 45rem;
        height: 31rem;
        border-radius: 15px;
        background-image: url('../assets/pexels-pixabay-220455.jpg');
        background-size: cover;
        background-repeat: no-repeat;
        transform: scaleX(-1);
        margin-left: 100px;
        margin-right: 100px;
    }

    .grupos-info{
        width: 50rem;
        height: 23rem;
        position: relative;
        left: -30rem;
        top: 4rem;
        background: #fff;
        box-shadow: #3d2a4175 0px 4px 12px;
        border-radius: 2px;
        transform: scaleX(-1);
        .grupos-tit{
            font-family: 'MontBold';
            color: $primaryColor;
            text-transform: uppercase;
            font-size: 2rem;
            padding-left: 5rem;
            padding-top: 2rem;
        }

        .grupos-desc{
            font-family: 'MontUltraLight';
            font-size: 1rem;
            padding-left: 5rem;
            padding-top: .5rem;
            width: 90%;
        }

        .divider-btn{
            height: 2rem;
            width: 12rem;
            margin-top: 1rem;
            font-family: 'MontRegular';
            margin-left: 5rem;
            margin-right: auto;
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 10px;
            color: white;
            background-color: $naranjaFuerte;
            &:hover{
                cursor:pointer;
            }
        }
    }
    
}

.footer{
    h3{
        font-size: 1.75rem;
    }

    ul{
        padding-left: 0;
    }
}





