.at-tit-text{
    z-index: 10;
    position: relative;
    width: 70%;
    margin-left: 100px;
    padding-top: 250px;
    font-family: MontBold;
    color: #522d6d;
    text-transform: uppercase;
    font-size: 3.5rem;
    word-break: break-word;
    word-spacing: 20pt;
}

.at-desc-text{
    width: 45%;
    margin-left: 100px;
    font-family: MontUltraLight;
    color: $primaryColor;
    font-size: 1em;
    word-spacing: 10pt;
}

.at-img{
    position: inherit;
    width: 80%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}



#atencion-tarjetas{
    width: auto;
    padding-left: 100px;
    padding-right: 100px;
    padding-top: 2rem;
    background: #f1f2f2;
    z-index: 1;
    position: relative;
    padding-bottom: 2rem;
    border-bottom-left-radius: 150px;
}

.atencion-tarjetas1{
    width: auto;
    padding-left: 100px;
    padding-right: 100px;
    padding-top: 200px;
    margin-top: -150px;
    background: #f1f2f2;
    z-index: -1;
    position: relative;
    padding-bottom: 2rem;
    height: 600px;
}

.atencion-tarjetas2{
    width: auto;
    padding-left: 100px;
    padding-right: 100px;
    padding-top: 2rem;
    background: white;
    z-index: 1;
    position: relative;
    padding-bottom: 2rem;
    border-bottom-left-radius: 150px;
    border-top-right-radius: 150px;
}


.med-tradicional{
    width: 100%;
    font-family: 'MontBold';
    text-align: center;
    .med-title{
        font-family:'MontExtraBold';
        width: 40%;
        margin-left: auto;
        margin-right: auto;
        padding-bottom: 2rem;
        color: $primaryColor;
        font-size: 1.5rem;
        text-transform: uppercase;
    }

    .med-desc{
        padding-bottom: 2rem ;
        font-size: .9rem;
        font-family: 'MontLight';
    }

    .med-button{
        width: 15rem;
        height: 2rem;
        margin-left: auto;
        margin-right: auto;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 10px;
        color: white;
        background-color: $naranjaFuerte;
        &:hover{
            cursor:pointer;
        }
    }
}

.slider {
    width: 90%;
    margin: 100px auto;
}

.card{
    border: 1px rgb(99, 99, 99) !important; 
    width: 15rem;
    background-color: #f1f2f2 !important;
}

.card-image{
    img{
        border-radius: 15px;
    }
}

#cartaslider{
    margin-top: 0px !important;
}

.row{
    overflow: hidden;
}

.pantalla-oscura{
    position: absolute;
    border-radius: 15px;
    top: 0px;
    left: 0px;
    z-index: 9;
    width: 100%;
    height: 12rem;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.616);

    a{
        text-decoration: none;
        font-family: 'MontBold';
        color: white;

        &:hover{
            color: $naranjaSuave;
        }
    }
}


.slick-slide {
    margin: 0px 20px;
    border: 0px solid black;
    outline: none;
}

.slick-slider{
    margin-top: 3rem;
}

.slick-slide img {
    width: 100%;
    height: 12rem;
    margin-bottom: 10px;
}

.slick-prev:before,
.slick-next:before {
  color: grey;

}


.slick-slide {
  transition: all ease-in-out .3s;
  opacity: 0.8;
    
}

.slick-active {
  opacity: 1;
 
}

.slick-current {
  opacity: 1;

}

.slick-dots {
	display: flex;
	justify-content: center;
	margin: 0;
	padding: 1rem 0;
    button {
        display: block;
        width: 1rem;
        height: 1rem;
        padding: 0;
        border: none;
        border-radius: 100%;
        background-color: rgb(201, 201, 201) !important;
        text-indent: -9999px;
    }

    li.slick-active button {
        background-color: $moradoOscuro !important;
    }
}


.atencion-info{
    position: relative;
    height: 600px;
    margin-top: -150px;
    width: auto;
    padding-left: 100px;
    padding-right: 100px;
    background-image: url('../assets/Web_DividerAtencion_atencion_IMG.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    flex-flow: wrap;
    justify-content: center;
    align-content: center;
    align-items: center;

    .atencion-infoContainer{
        width: 60%;
        margin-left: 0;
        margin-right: auto;
    }

    .atencion-tit{
        text-align: left;
        font-family: 'MontBold';
        color: $moradoOscuro;
        width: 70%;
        font-size: 2.5rem;
        text-transform: uppercase;
    }
    
    .atencion-desc{
        width: 100%;
        font-family: 'MontUltraLight';
        color: $moradoOscuro;
        margin-top: 10px;
        text-align: left;
    }

    .divider-btn{
        height: 2rem;
        width: 12rem;
        margin-top: 1rem;
        font-family: 'MontRegular';
        margin-left: 0;
        margin-right: auto;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 10px;
        color: white;
        background-color: $naranjaFuerte;
        &:hover{
            cursor:pointer;
        }
    }
}

.grupos-vulnerables{
    margin-top: -150px;
    padding-top: 100px;
    padding-bottom: 100px;
    display: flex;
    height: 43rem;
    width: 100%;
    border-top-right-radius: 150px;
    border-bottom-left-radius: 150px;
    margin-left: auto;
    margin-right: auto;
    background-color: white;
    z-index: 2;
    position: relative;
    .grupos-img{
        width: 45rem;
        height: 31rem;
        border-radius: 15px;
        background-image: url('../assets/pexels-pixabay-220455.jpg');
        background-size: cover;
        background-repeat: no-repeat;
        transform: scaleX(-1);
        margin-left: 100px;
        margin-right: 100px;
    }

    .grupos-info{
        width: 50rem;
        height: 23rem;
        position: relative;
        left: -30rem;
        top: 4rem;
        background: #fff;
        box-shadow: #3d2a4175 0px 4px 12px;
        border-radius: 2px;
        transform: scaleX(-1);
        .grupos-tit{
            font-family: 'MontBold';
            color: $primaryColor;
            text-transform: uppercase;
            font-size: 2rem;
            padding-left: 5rem;
            padding-top: 2rem;
        }

        .grupos-desc{
            font-family: 'MontUltraLight';
            font-size: 1rem;
            padding-left: 5rem;
            padding-top: .5rem;
            width: 90%;
        }

        .divider-btn{
            height: 2rem;
            width: 12rem;
            margin-top: 1rem;
            font-family: 'MontRegular';
            margin-left: 5rem;
            margin-right: auto;
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 10px;
            color: white;
            background-color: $naranjaFuerte;
            &:hover{
                cursor:pointer;
            }
        }
    }
    
}

.footer{
    h3{
        font-size: 1.75rem;
    }

    ul{
        padding-left: 0;
    }
}


// Titulo Atención Responsive
@media(min-width: 300px){
    .at-tit-text{
        font-size: 2rem !important;
        width: 80%;
        margin-left: 10%;
        padding-top: 140px;
    }

    .at-desc-text{
        width: 80%;
        margin-left: 10%;
        font-size: .9em;
    }

    .at-img{
        width: 90%;
    }

    .home-atencion{
        border-bottom-left-radius: none;
    }
}
// 540
@media(min-width: 540px){
    .at-img{
        width: 80%;
    }
}
@media(min-width: 590px){
    .at-img{
        width: 70%;
    }
}
@media(min-width: 675px){
    .at-img{
        width: 60%;
    }
}

@media(min-width: 800px){
    .at-img{
        width: 50%;
        position: absolute;
        top: 150px;
        right: 0px;
        
    }

    .at-tit-text{
        width: 85%;
        font-size: 2.3rem !important;
        padding-top: 185px;
    }

    .at-desc-text{
        width: 40%;
    }

    .home-atencion{
        border-bottom-left-radius: 150px; 
    }
}

@media(min-width:1000px){
    .at-tit-text{
        font-size: 3rem !important;
        padding-top: 200px ;
    }

    .at-desc-text{
        font-size: 1.2rem !important;
    }
}
// 1280 x 720
@media(min-width:1280px){
    .at-tit-text{
        font-size: 3.6rem !important;
        padding-top: 200px ;
    }

    .at-desc-text{
        width: 45%;
        font-size: 1.4rem !important;
    }
}
// 1440 x 900
@media(min-width:1440px){
    .at-tit-text{
        font-size: 4.3rem !important;
        padding-top: 250px;
    }
}
// 1600 x 900
@media(min-width:1440px){
    .at-tit-text{
        font-size: 4.5rem !important;
        padding-top: 300px;
    }
}
// 1920 x 1080


// Responsive "Atención Tarjetas"

// 320
// Móvil
@media(min-width: 320px){
    .atencion-tarjetas1{
        width: 90%;
        height: 545px;
        margin-left: auto;
        margin-right: auto;
        padding-left: 0;
        padding-right: 0;
    }

    .atencion-tarjetas2{
        width: 100%;
        margin-left: auto;
        margin-right: auto;
        padding-left: 0;
        padding-right: 0;
        border-top-right-radius: 0px !important;
        border-bottom-left-radius: 100px !important;
    }

    .med-title{
        width: 100% !important;
        font-size: 1.1rem !important;
    }

    .med-desc{
        font-size: .8rem !important;
    }

    .med-button {
        width: 11rem !important;
        height: 1.5rem !important;
        font-size: .9rem !important;
    }

    .slider{
        margin-top: 6rem;
    }

    #cartaslider1{
        margin-top: -190px;
        width: 80%;
        margin-left: auto;
        margin-right: auto;
    }

    .slid2{
        width: 80% !important;
        margin-left: auto;
        margin-right: auto;
        margin-top: -1rem !important;
        margin-bottom: 2.5rem !important;
    }

    .slick-prev::before, .slick-next::before{
        color: $naranjaFuerte !important;
    }

    .card{
        width: 13rem;
        height: 10rem;
    }

    .slick-slide{
        height: 10rem;

        img{
            height: 10rem;
        }
    }
    
    .card-image{
        height: 10rem;

        .pantalla-oscura{
            height: 10rem;

            a{
                font-size: .8rem;
            }
        }
        
    }
}

// 375

// 410
@media (min-width: 410px) {
    .slider{
        width: 100%;
    }

    .card{
        width: 8rem;
        height: 6rem;
    }

    .slick-slide{
        height: 6rem;

        img{
            height: 6rem;
        }
    }
    
    .card-image{
        height: 6rem;

        .pantalla-oscura{
            height: 6rem;

            a{
                font-size: .8rem;
            }
        }
        
    }
}

// Tableta chica

// 540 x 720
@media(min-width: 540px){
    .card{
        width: 9rem;
        height: 7rem;
    }

    .slick-slide{
        height: 7rem;

        img{
            height: 7rem;
        }
    }
    
    .card-image{
        height: 7rem;

        .pantalla-oscura{
            height: 7rem;

            a{
                font-size: .8rem;
            }
        }
        
    }
}

// Tableta

// 768 x 1024
@media(min-width: 768px){

    .slick-prev{
        left: -60px !important;
    }

    .slick-next{
        right: -35px !important;
    }

    .slick-prev::before, .slick-next::before{
        color: $naranjaFuerte !important;
        font-size: 40px !important;
        width: 0px;
    }
    
    .card{
        width: 13rem;
        height: 10rem !important;

    }

    .card-image{
        height: 10rem !important;

        img{
            height: 10rem !important;
        }

        .pantalla-oscura{
            height: 10rem !important;
        }
    }
}

// Escritorio

// 1280 x 720
@media (min-width: 1280px) {
    .slider{
        width: 100%;
    }

    .med-tradicional{

        .med-title{
            font-size: 1.7rem !important;
        }

        .med-desc{
            font-size: 1.2rem !important;
        }
    
        .med-button{
            width: 16rem !important;
            height: 2rem !important;
            font-size: 1.2rem !important;
        }
    }

    .card{
        width: 17rem;
        height: 13rem;
    }

    .slick-slide{
        height: 13rem !important;

        img{
            height: 13rem !important;
        }
    }
    
    .card-image{
        height: 13rem !important;

        .pantalla-oscura{
            height: 13rem !important;

            a{
                font-size: .8rem;
            }
        }
        
    }

    
}

// 1440 x 900
@media(min-width: 1440px){
    
    .card{
        width: 22rem;
        height: 15rem !important;

    }

    .card-image{
        height: 22rem !important;

        img{
            height: 15rem !important;
        }

        .pantalla-oscura{
            height: 15rem !important;
        }
    }
}

// 1600 x 900
@media (min-width: 1600px) {
    .slider{
        width: 100%;
    }

    .med-tradicional{

        .med-title{
            font-size: 1.9rem !important;
        }

        .med-desc{
            font-size: 1.3rem !important;
        }
    
        .med-button{
            width: 16rem !important;
            height: 2rem !important;
            font-size: 1.3rem !important;
        }
    }

    
}

// 1920 x 1080
@media (min-width: 1920px) {

    .atencion-tarjetas1{
        height: 640px;
    }

    .slider{
        width: 100%;
    }

    .med-tradicional{

        .med-title{
            font-size: 2.5rem !important;
        }

        .med-desc{
            font-size: 1.6rem !important;
        }
    
        .med-button{
            width: 20rem !important;
            height: 3rem !important;
            font-size: 1.6rem !important;
        }
    }
}




