

.home-bienestar{
    height: 700px;
    width: 100%;

    background: rgb(169,117,178);
    background: linear-gradient(90deg, rgba(169,117,178,1) 0%, rgba(132,218,222,1) 45%, rgba(254,203,139,1) 100%);
}

.header-home{
    display: flex;
}

.logo-white{
    width: 30rem;
}

.nav-home{
    display: flex;
    padding: 2rem;
    margin-left: 60rem;
}

.nav-item{
    padding: 1rem;
    font-family: $font-bold;
}



#header {
    width: 100%;
    position: fixed;
    display: flex;
    flex-flow: wrap;
/*    background-color: #22313a;*/
    transition: 0.3s;
    z-index: 1000;
}

#header-logo{
    width: 460px;
    padding-top: 60px;
    margin-left: 110px;
    transition: 0.3s;
}

#header-logo img{
    width: 100%;
}

#header-bar{
    display: flex;
    flex-flow: wrap;
    padding-top: 120px;
    justify-content: center;
    align-content: center;
    align-items: center;
    margin-left: auto;
    margin-right: 5%;
    font-size: 2em;
    font-family: 'MontBold';
    color:#fff;
}

.header-o{
    margin-left: 30px;
    margin-right: 30px;
    display: flex;
    flex-flow: wrap;
    cursor: pointer;
}

.header-o a{
    width: 100%;
} 

#header-bar a:hover ~ #border-b{
    width: 80%;
    background-color: #fff;
    transition: 0.3s;
} 

#border-b{
    margin-left: auto;
    margin-right: auto;
    width: 1%;
    height: 2px;
    background-color: none;
    transition: 0.3s;
}