// HOME

// Header
.word-slider{
    height: 1em;
    line-height: 1em;
    margin: 0 .5em;
    overflow: hidden;
    list-style-type: none;
    font-family: 'MontBold';
    font-size: 7rem;
    color: white;
    mask-image: linear-gradient(transparent, white, white, white, transparent);
}
    .word-slider>li{
        text-align: center;
        -webkit-animation: word-slider 8s ease-in-out infinite;
        -moz-animation: word-slider 8s ease-in-out infinite;
        -o-animation: word-slider 8s ease-in-out infinite;
        animation: word-slider 8s ease-in-out infinite;
        animation-delay: 0s;
        animation-fill-mode: backwards;
        backface-visibility: hidden;
    }
   
    @keyframes word-slider{

        0%{
            transform: translate3D(0,0,0);
        }
        14.2%{
            transform: translate3D(0,0,0);
        }
        28.4%{
            transform: translate3D(0,-100%,0);
        }
        42.6%{
            transform: translate3D(0,-100%,0);
        }
        56.8%{
            transform: translate3D(0,-200%,0);
        }
        71%{
            transform: translate3D(0,-200%,0);
        }
        85.2%{
            transform: translate3D(0,-300%,0);
        }
        100%{
            transform: translate3D(0,-300%,0);
        }

    }
//

body{
    background: #f1f2f2;
}

[data-120="120vh"]{
    height: 120vh !important;
}

.home-bienestar{
    height: 100vh;
    width: 100%;
    background-image: url('../assets/IMG_Home_Main.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position-y: -80px;
    // background: rgb(169,117,178);
    // background: linear-gradient(90deg, rgba(169,117,178,1) 0%, rgba(132,218,222,1) 45%, rgba(254,203,139,1) 100%);
}

#header {
    width: 100%;
    display: flex;
    flex-flow: wrap;
    z-index: 1000;
    position: fixed;
    transition: 0.3s;

    #menu-open{
        display: none;
    }

    #menu-close{
        display: none;
    }
}

#header-logo{
    width: 480px;
    padding-top: 20px;
    margin-left: 20px;

    img{
        width: 100%;
    }
}

#header-bar{
    height: 70px;
    transition: 0.3s;
    display: flex;
    flex-flow: wrap;
    padding-top:70px;
    justify-content: center;
    align-content: center;
    align-items: center;
    margin-left: auto;
    margin-right: 5%;
    font-size: 1em;
    font-family: 'MontBold';
    color:#fff;
}

.header-o{
    margin-left: 15px;
    margin-right: 15px;
    display: flex;
    flex-flow: wrap;
    cursor: pointer;
    transition: 0.3s;
    a {
        width: 100%;
    } 
}

#header-bar a:hover ~ #border-b{
    width: 80%;
    background-color: #fff;
    transition: 0.3s;
} 

#border-b{
    margin-left: auto;
    margin-right: auto;
    width: 1%;
    height: 2px;
    background-color: none;
    transition: 0.3s;
}

// Lo Que Nos Motiva
.nos-motiva{
    font-family: 'MontRegular';
    color: $primaryColor;
    background: #fff;
    padding-bottom: 150px;
    border-bottom-left-radius: 150px;
    display: flex;
    flex-flow: wrap;
    p{
        padding-top: 1rem;
        font-family: 'MontUltraLight';
        font-size: .9rem;
        color: black;
    }
    h2{
        font-size: 1.7rem;
        letter-spacing: 1px;
        font-family:'MontUltraLight';
        text-transform: uppercase;
    }
    h1{
        font-size: 1.7rem;
        letter-spacing: 1px;
        font-family: 'MontRegular';
        text-transform: uppercase;
    }
}

.motiva-header{
    width: 100%;
    margin: 0 auto;
    padding-top: 3rem;
    text-align: center;
    
}

.motiva-triptico{
    padding-top: 3rem;
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-flow: wrap;
    justify-content: center;
}

.separacion-triptico{//agregado estilos de separador
    height:100% ;
    width: 1px;
    background-color: #ddd;
    margin-left: 30px;
    margin-right: 30px;
}

.card{
    width: 300px;
}


// Segundo Index - Flor de Loto
.segundo-index{
    width: 100%;
    min-height: 700px;
    background: #fff;
    border-top-right-radius: 150px;
}

.flor-loto{
    width: 100%;
    background-image: url('../assets/Web_Accesos_Home_IMG.png');
    min-height: 900px;
    background-position: left;
    background-repeat: no-repeat;
    background-size: contain;
    background-position-x: -1%;
}

.loto-tarjetas{
    width: 70%;
    padding-top: 50px;
    margin-right: 0px;
    margin-left: auto;
}

.loto-card{ //Estas son solo las imagenes de cada tarjeta
    width: 70%;
    height: 230px;
    margin-right: 10%;
    margin-left: auto;
    border-radius: 15px;
    margin-top: 2rem;
    display: flex;
    align-items: center;
}

#loto-img-1{
    background-image: url('../assets/fotos/shelf.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

#loto-img-2{
    background-image: url('../assets/fotos/meditando.jpg');
    width: 60%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y: 45%;
}

#loto-img-3{
    background-image: url('../assets/fotos/copa.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y: 50%;
}

.loto-card-text{
    width: 450px;
    height: 9rem;
    background-color: white;
    position: relative;
    font-family: 'MontRegular';
    margin-left: -7rem;
    border-radius: 2px;
    box-shadow: #3d2a4175 0px 4px 12px;


    h1{
        text-transform: uppercase;
        padding-left: 6%;
        width: 94%;
        padding-top: 1rem;
        color: $primaryColor;
        font-family: 'MontBold';
    }

    p{
        padding-left: 6%;
        width: 75%;
        padding-top: .3rem;
        font-family: 'MontUltraLight';
        font-size: 1rem;
    }

    h3{
        color: $naranjaSuave;
        width: 10%;
        padding-left: 90%;
        font-size: 2em;
    }
}


// Contacto

.contacto{
    background: #fff;
    display: flex;
    font-size: .9rem;
    font-family: 'MontRegular';
    color:black;
    border-top-right-radius: 150px; //Quité el border top radius en pág de directorio, cambié este de 500px a 150px
    width: 100%;
    padding-bottom: 100px;
    padding-top: 50px;

    a{
        text-decoration: none;
    }
}

.message-contact{
    width: 40%;
    margin-right: 0;
    margin-left: auto;
    padding-top: 1rem;
    h1{
        font-family: 'MontBold';
        letter-spacing: 4px;
        font-size: 3rem;
        color: $moradoOscuro;
        text-transform: uppercase;
    }
    h2{
        font-family: 'MontUltraLight';
        font-size: 1rem;
        color: black;
        padding-top: 1rem;
        line-height: 1.5;
    }
}

.datosExpo{
    padding-top: 1rem;
    font-size: 1rem;
    font-family: 'MontHair';
    color: rgb(75, 75, 75);

    h3{
        padding-top: 1rem;
        font-size: 1rem;
    }

    a{
        font-size: 2rem;
        color: #84dade;
    }
}

.formcontact{
    width: 40%;
    margin-left: 0;
    margin-right: auto;
    padding-left: 50px;
    padding-top: 5.6rem;
}

.contact-form{
    

    font-size: 1.2rem;
    input, select{
        border-top: none;
        border-left: none;
        border-right: none;
        border-bottom-width: 1px;
        border-bottom-color: $primaryColor;
        width: 100%;
        padding-top: .5rem;
        font-family:'MontRegular';
        color: rgb(82, 82, 82);
        font-size: 1rem;
    }

    ::placeholder{
        color: rgb(82, 82, 82);
        opacity: 1;
        font-size: 1rem;
    }

    label{
        color: $gris;
    }

    .asunto-input{
        width: 98%;
    }
    .telefono-input{
        width: 100%;
    }

    #tel-label{
        // margin-right: 100%;

    }

    #asunto-label{
        // margin-right: 100%;
    }

    .fila-asunto-tel{
        display: flex;
    }

    .bloque-asunto{
        width: 50%;
    }

    .bloque-tel{
        width: 50%;
    }

    button{
        width: 6rem;
        height: 2.3rem;
        border: none;
        border-radius: 12px;
        font-family: 'MontBold';
        font-size: 1rem;
        color: white;
        background-color: $naranjaFuerte;
    }


}

// Footer

.footer{
    // margin-top: 3rem; Quité margin top
    height: 100%;
    width: 100%;
    background-color: $moradoOscuro;
    color: white;
    display: flex;
    font-family: 'MontRegular';
    font-size: .8rem;
    padding-bottom: 30px;

    a{
        text-decoration: none;
        color: white;
    }

    h3 {
        font-size: 1.75rem;
    }
    
}

.footer-logo{
    width: 35%;
    padding-top: 7rem;

    img{
        width: 100%;
    }
}

.mapa-sitio{
    margin-left: auto;
    margin-right: 0;
    padding-top: 1.5rem;
    padding-left: 2rem;
    width: 15%;

    ul {
        font-family: 'MontUltraLight';
        list-style-type: none;
    }
    li{
        padding-top: .5rem;
    }
}

.forma-parte-footer{
    padding-top: .5rem;
    width: 15%;
    padding-top: 1.5rem;

    ul {
        font-family: 'MontUltraLight';
        list-style-type: none;
    }

    li{
        padding-top: .5rem;
    }
}

.nuestras-redes{
    padding-top: 1.5rem;
    font-size: 1rem;
    width: 25%;
    margin-right: auto;
    margin-left: 0;

    h2{
        font-size: 1rem;
    }
}

.redes-sociales{
    padding-top: .2rem;

    a{
        font-size: 2.2rem;
    }
}

.footer-li-dir{
    font-family: 'MontBold';
}

#o-activo{
    color:$moradoOscuro
}



//@Medias para responsive del Header
@media(max-width:1000px){
    #o-activo{
        color: #fff;
    }

    #menu-open{
        height: 20px;
        width: 20px;
        justify-content: center;
        align-content: center;
        align-items: center;
        font-size: 2em;
        display: flex !important;
        position: absolute;
        transition: 0.3s;
        right: 10%;
        top: 80px;
        color: #fff;
    }

    #menu-close{
        height: 20px;
        width: 20px;
        justify-content: center;
        align-content: center;
        align-items: center;
        margin-top: 60px;
        margin-bottom: 30px;
        font-size: 2em;
        display: flex !important;
        transition: 1s;
    }

    #header-bar{
        transform: translateX(100%);
        position: fixed;
        width: 65%;
        height: 120vh;
        background-color: $moradoOscuro;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        padding-top: 0;
        right: 0;
        margin-right: 0;
        -ms-flex-flow: wrap;
        flex-flow: wrap;
        align-content:flex-start;
        z-index: 2;
    }

    #header-logo{
        overflow: hidden;
        padding-top: 20px;
        margin-left: -20px;

        img{
            // height: 120px;
            width: 90%;
        }
    }

    .header-o{
       width: 100%;
       text-align: center;
       font-size: 1.5em;
       margin-top: 30px;
       margin-bottom: 30px;
    }

    #header-dim{
        height: 0vh;
        width: 100%;
        position: fixed;
        display: flex;
        top: 0;
        left: 0;
        background-color: rgba(0,0,0,0.4);
        z-index: 1;
        transition: 0.3s;
    }

}

@media(min-width:1100px){
    .header-o{
        margin-left: 30px;
        margin-right: 30px;
    }
}
//Botón de Menu
@media (min-width:320px) {
    #menu-open{
        top: 50px;
    }
}

@media (min-width:375px) {
    #menu-open{
        top: 60px;
        right: 8%;
    }
}

@media (min-width:540px) {
    #menu-open{
        top: 70px;
        
    }
}


// Medidas para responsive del Footer

// Escritorio
// 1280 x 720 - check
// 1440 x 900 - check
// 1600 x 900 - check
// 1920 x 1080- check
@media (max-width:1920px) {
    .footer{
        h3{
            font-size: 2rem !important;
        }

        h2{
            font-size: 1.5rem !important;
        }
    }

    .nuestras-redes{
        margin-left: auto;
    }

    .footer-logo{
        width: 40%;
    }
}
    
// Tableta
// 768 x 1024
@media (max-width: 768px) {
    .footer{
        h3{
            font-size: 1rem !important;
        }

        h2{
            font-size: .8rem !important;
        }
    }

    .nuestras-redes{
        margin-left: auto;
    }

    .footer-logo{
        width: 40%;
    }

    .redes-sociales{
        a{
            font-size: 1.2rem;
        }
    }
}

// Tableta chica
// 540 x 720
@media (max-width: 540px) {
    .footer{
        a{
            font-size: .5rem !important;
        }

        h3{
            font-size: .7rem !important;
        }

        h2{
            font-size: .6rem !important;
        }
    }
    
    .nuestras-redes{
        margin-left: 0;
        width: 30%;
    }
}
// Móvil
// 320
@media (max-width: 320px) {

    .footer{
        h3{
            font-size: .5rem !important;
        }
    
        li{
            padding-top: 0rem !important;
        }
    }


    .mapa-sitio{
        padding-left: 1rem;
        padding-right: .4rem;
        padding-top: .5rem;
    }
    .forma-parte-footer{
        padding-top: .4rem;
        padding-bottom: .8rem;
    }

    .nuestras-redes{
        padding-top: .4rem;
    }

    .footer-logo{
        padding-top: 4rem;
    }
}
// 375
// 410

@media (max-width: 320px) {
    .redes-sociales{
        a{
            font-size: .7rem !important;
        }
    }
}


// Medidas para responsive de Contacto

// Escritorio
// 1280 x 720
// 1440 x 900
// 1600 x 900
// 1920 x 1080
@media (min-width: 1920px) {

    .message-contact{
        width: 50%;
        margin-left: 100px;

        h1{
            font-size: 5rem;
        }
        h2{
            width: 75%;
            font-size: 1.5rem;
        }
    }

    .datosExpo{
        h3{
            font-size: 1.3rem;
        }

        a{
            font-size: 2.5rem;
        }
    }

    .formcontact{
        margin-right: 100px;

        label{
           font-size: 1.7rem; 
        }

        input, select{
            font-size: 1.4rem;
        }
        
        ::placeholder{
            font-size: 1.4rem;
        }
    }
}

// Tableta
// 768 x 1024
@media (max-width: 768px) {

    .message-contact{
        h1{
            font-size: 2.5rem;
        }
    }

    .formcontact{
        padding-top: 19%;
    }
}

// Tableta chica
// 540 x 720
@media (max-width: 540px) {

    .message-contact{
        padding-top: 15%;
        width: 45%;
        padding-left: 5%;
        // margin-left: 5%;

        h1{
            font-size: 2rem;
        }

        h2{
            font-size: .8rem;
        }

        a{
            font-size: 1.3rem;
        }
    }

    .datosExpo{
        h3{
            padding-top: .7rem;
            font-size: .9rem;
        }
    }

    .formcontact{

        padding-top: 15%;
        padding-left: 5%;
        padding-right: 5%;
    }

    .fila-asunto-tel{
        display: inherit !important;

        .bloque-asunto{
            width: 100%;
        }

        .bloque-tel{
            width: 100%;
            margin-top: 1.4rem;
        }
    }

    .contact-form{
        label{
            font-size: 1rem;
        }

        ::placeholder, select{
            font-size: .9rem;
        }
    }
}
//Medias Titulo Recibe Capacitación
@media (min-width: 320px) {
    
    .capacitacion-info-tit{
        font-size: 15pt !important;
    }

}

@media (min-width: 375px) {
    
    .capacitacion-info-tit{
        font-size: 18pt !important;
    }

}

@media (min-width: 600px) {
    
    .capacitacion-info-tit{
        font-size: 20pt !important;
    }

}

@media (min-width: 800px) {
    
    .capacitacion-info-tit{
        font-size: 25pt !important;
    }

}

@media (min-width: 1300px) {
    
    .capacitacion-info-tit{
        font-size: 50pt !important;
    }

}


//Media sección Nosotros
@media (max-width: 600px){
    .se-nosotros{
        margin-top: 40px !important;

    }

    .se-nosotros-info{
        width: 90% !important;
    }

    .se-nosotros-img{
        position: relative;
        width: 80% !important;
        margin-left: auto !important;
        margin-right: auto !important;
        margin-top: -500px;

        img{
            display: block;
            margin-left: auto;
            margin-right: auto;
        }
    }

    .word-slider{
        width: 90% !important;
        margin: 0 !important;
        margin-left: auto !important;
        margin-right: auto !important;
        font-size: 3.5rem !important;
    }

    .home-tit-sm{
        padding-top: 180px !important;
    }

    [data-120="120vh"] {
        height: 140vh !important;
    }

    .home-desc{
        width: 90% !important;
    }

    .motiva-triptico .card{
        width: 80% !important;
        height: auto !important;

    }

    .motiva-header{
        width: 90% !important;
    }

    .separacion-triptico{
        width: 100% !important;
        height: 1px !important;
        margin-top: 30px;
        margin-bottom: 30px;
    }

    

    .se-vision{
        height: 100vh !important;

        .se-vision-img{
            width: 80% !important;
            margin-left: auto;
            margin-right: auto;
    
            img{
                width: 80% !important;
                display: block;
                margin-left: auto;
                margin-right: auto;
            }
        }
    
        .se-vision-info{
            width: 90% !important;
            margin-top: -200px;
        }

    }

    .loto-card{
        
        width: 200px !important; 
        height: 230px !important;
        margin-right: 10% !important;
        margin-left: auto !important;

        .loto-card-text {
            width: 300px !important;
            height: auto !important;
            margin-left: -4rem !important;
    
            .icon-angle-right{
                font-size: 1em;
                margin-left: -20px;
            }
        }
    }

    .se-aprende{
        margin-top: 30px !important;
        height: 100vh !important;

        .se-aprende-info{
            width: 100% !important;
        }

        .se-aprende-desc{
            width: 80% !important;
        }

        .se-aprende-img{
            width: 80% !important;
            margin-left: auto;
            margin-right: auto;

            img{
                display: block;
                margin: 40px auto;
                width: 80% !important;
            }
        }
    }

    .capacitacion-info{
        width: 85% !important;
    }

    .capacitacion-container{
        align-items: center !important;

        .capacitacion-info-desc{
            width: 80% !important;
        }
    }
    
    .resena{
        padding-bottom: 40px;

        .resena-texto{
            width: 90% !important;
        }
    }
}

// Móvil
// 320
@media (max-width: 320px) {
    .message-contact{
        h2{
            font-size: .6rem;
        }
    }
    
}
// 375
@media (max-width: 375px) {

    .message-contact{
        h2{
            font-size: .7rem;
        }
    }

    .datosExpo{
        h3{
            font-size: .7rem;
        }
        a{
            font-size: 1rem;
        }
    }
}
// 410
@media (max-width: 410px) {
    .contacto{
        display: inherit;
        padding-top: 10px;
        padding-bottom: 30px;
    }

    .message-contact{
        width: 95%;

        h1{
            font-size: 2.3rem;
            letter-spacing: 2px;

        }

        h2{
            width: 80%;
            font-size: .8rem;
        }
    }

    .formcontact{
        width: 90%;
        padding-top: 5%;

        label{
            font-size: .8rem;
        }

        input, select{
            padding-top: 0rem;
            font-size: .7rem;
        }

        ::placeholder{
            font-size: .7rem;
        }

        button{
            font-size: .8rem;
            width: 4rem;
            height: 1.8rem;
        }
    }

    .datosExpo{
        padding-top: .2rem;
        h3{
            font-size: .9rem;
        }
        a{
            font-size: 1.4rem;
        }
    }
    
}
