

body{
    background: #f1f2f2 !important;
    // background: coral !important;
}

.tall-tit-text{
    z-index: 10;
    position: relative;
    width: 70%;
    margin-left: 100px;
    padding-top: 250px;
    font-family: 'MontExtraBold';
    color: #522d6d;
    text-transform: uppercase;
    font-size: 4rem;
    word-break: break-word;
    word-spacing: 20px;
    letter-spacing: 4px;
}

.tall-img{
    width: 50%;
    position: absolute;
    top: 150px;
    right: 50px;
}

.taller-video{
    width: auto;
    height: 700px;
    padding-left:100px;
    padding-right:100px;
    .taller-thumbnail{
        width: 100%;
        background-image: url('../assets/guitarra.jpg');
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        height: 500px;
        margin-left: auto;
        margin-right: auto;
    }

    .video-desc{
        width: 70%;
        background-color: white;
        border-bottom-left-radius: 15px;
        border-bottom-right-radius: 15px;
        box-shadow: #3d2a4175 0px 4px 12px;
        height: 8rem;
        
        .taller-nombre{
            font-family: 'MontBold';
            color: $moradoOscuro;
            font-size: 1.1rem;
            padding-left: 1rem;
            padding-top: 1rem;
        }

        .taller-imparte{
            font-family:'MontLight';
            color: $azulClaro;
            font-style: italic;
            padding-left: 1rem;
        }

        .taller-tipo{
            font-family:'MontUltraLight';
            padding-left: 1rem;
            padding-top: 1rem;
        }
    }

}

#cartasTalleres{
    height: 500px;
    background-color: white;
    border-bottom-left-radius: 150px;
    margin-top: -60px !important;
}

.card-taller{
    border: 1px rgb(99, 99, 99) !important; 
    width: 24rem;
    background-color: white !important;
}


.taller-desc{
    width: 100%;
    background-color: white;
    box-shadow: #3d2a4175 0px 4px 12px;
    height: 13rem;
    margin-bottom: 2rem;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;   
    
    .taller-nombre{
        font-family: 'MontBold';
        color: $moradoOscuro;
        font-size: 1.1rem;
        padding-left: 1rem;
        padding-top: .2rem;
    }

    .taller-imparte{
        font-family:'MontLight';
        color: $azulClaro;
        font-style: italic;
        padding-left: 1rem;
    }

    .taller-tipo{
        font-family:'MontUltraLight';
        padding-left: 1rem;
        padding-top: .5rem;
    }
}

.taller-image{
    width: 100%;
    height: 8rem;
    overflow: hidden;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

.taller-brief{
    font-family: 'MontUltraLight';
    padding-left: 1rem;
    padding-top: 1rem;
}

.profesionalizate{
    background-color: white;
    width: 100%;
    // height: 600px;
    border-top-right-radius: 150px;
    text-align: center;
    margin-bottom: 2rem;
    padding-top: 1rem;
}

.prof-titulo{
    font-family: 'MontExtraBold';
    color: $moradoOscuro;
    font-size: 4.5rem;
    padding-top: 2rem;
    letter-spacing: 5px;
    text-transform: uppercase;
}

.prof-desc{
    width: 65%;
    margin: 0 auto;
    font-family: MontLight;
}

.prof-input{
    width: 40%;
    margin: auto;
    margin-top: auto;
    margin-top: 2rem;
    border-radius: 50px;
    padding-left: 1rem;
    height: 2.2rem;
    background-color: #f1f2f2;
    font-style: italic;
    text-align: center;
    padding-bottom: .5rem;
    padding-top: .5rem;
    border: 1px solid #f1f2f2;
}

.prof-button{
    width: 150px;
    margin: auto;
    margin-top: auto;
    margin-top: 1rem;
    background-color: #ff7f30;
    height: 2.1rem;
    padding-top: .25rem;
    color: white;
    font-family: 'MontRegular';
    border-radius: 8px;
}

.prox-eventos{
    background-image: url("../assets/Images_TalleresCarrousell_Talleres_IMG.jpg");
    border-top-right-radius: 150px;
    border-bottom-left-radius: 150px;
    margin-top: 100px;
    background-size: cover;
}

.eventos-tit{
    font-family: 'MontExtraBold';
    color: white;
    font-size: 2rem;
    padding-top: 2rem;
    padding-left: 69px;
    letter-spacing: 5px;
    text-transform: uppercase;
    padding-bottom: 2rem;
}

.comunidad{
    text-align: center;
    background: #fff;
}

.comunidad-tit{
    font-family: 'MontExtraBold';
    color: $primaryColor;
    font-size: 1.5rem;
    padding-top: 2rem;
    letter-spacing: 1px;
    text-transform: uppercase;
    padding-bottom: 1rem;
    margin: auto;
}

.comunidad-gallery{
    width: 100%;
    height: 500px;
    overflow: hidden;
    margin-right: auto;
    margin-left: auto;

    .comunidad-img{
        width: 200vh;
        height: 50vh;
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
    }

    .slick-next:before, .slick-prev:before{
        color: $naranjaFuerte;
        font-size: 30px;
    }

}

.siguenos{
    background-image: url('../assets/Images_Divider_color.jpg');
    width: 100%;
    height: 700px;
    background-size: cover;
    background-repeat: no-repeat;
    margin-top: -150px;
    position: relative;
    z-index: -1;
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
    flex-flow: wrap;
    text-align: center;

    .siguenos-tit{
        font-family: 'MontExtraBold';
        color: $moradoOscuro;
        font-size: 2.3rem;
        text-transform: uppercase;
        letter-spacing: 2px;
        // margin-top: -10rem;
        width: 100%;
        
    }

    .redes-sociales a{
        text-decoration: none !important;
        color: $moradoOscuro !important;
        margin: 10px;
    }
}