$primaryColor : rgb(192, 109, 192);
$font-bold : url('../fonts/Montserrat-Bold.otf');


/*
    Funciones importantes:
        +variables $var: 
        +añadir compounds dentro de otros compounds
            {
                {
                }
            }

        +se puede hacer hover como: 
            button {
                color: red;
                &:hover{
                    color: blue;
                }
            }

        +importar otros archivos scss
            @import ""
*/ 

*{
    margin: 0;
    padding: 0;
}

@import "./afiliacion";
@import "./directorio";
@import "./home";