/*
    Funciones importantes:
        +variables $var: 
        +añadir compounds dentro de otros compounds
            {
                {
                }
            }

        +se puede hacer hover como: 
            button {
                color: red;
                &:hover{
                    color: blue;
                }
            }

        +importar otros archivos scss
            @import ""
*/ 

*{
    margin: 0;
    padding: 0;
}


@import "./fonts";
@import "./variables";
@import "./afiliacion";
@import "./directorio";
@import "./home";
@import "./atencion";
@import "./talleres";