@charset "UTF-8";
/*
    Funciones importantes:
        +variables $var: 
        +añadir compounds dentro de otros compounds
            {
                {
                }
            }

        +se puede hacer hover como: 
            button {
                color: red;
                &:hover{
                    color: blue;
                }
            }

        +importar otros archivos scss
            @import ""
*/
* {
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: MontBold;
  src: url("../fonts/Montserrat-Bold.otf") format("opentype");
}

@font-face {
  font-family: MontRegular;
  src: url("../fonts/Montserrat-Regular.otf") format("opentype");
}

@font-face {
  font-family: MontLight;
  src: url("../fonts/Montserrat-Light.otf") format("opentype");
}

@font-face {
  font-family: MontUltraLight;
  src: url("../fonts/Montserrat-UltraLight.otf") format("opentype");
}

@font-face {
  font-family: MontExtraBold;
  src: url("../fonts/Montserrat-ExtraBold.otf") format("opentype");
}

@font-face {
  font-family: MontHair;
  src: url("../fonts/Montserrat-Hairline.otf") format("opentype");
}

.home-tit-sm {
  width: 100%;
  text-align: center;
  padding-top: 280px;
  font-family: MontUltraLight;
  text-transform: uppercase;
  font-size: 20pt;
  color: #fff;
}

.home-tit-md {
  width: 100%;
  text-align: center;
  font-family: MontExtraBold;
  text-transform: uppercase;
  font-size: 70pt;
  color: #fff;
}

.home-desc {
  width: 50%;
  text-align: center;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  color: #fff;
  font-family: MontLight;
}

.home-button {
  color: #808080;
  font-family: MontBold;
  background: #fff;
  width: 300px;
  height: 50px;
  border-radius: 10px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
  cursor: pointer;
}

.se-nosotros {
  width: 100%;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0)), to(white));
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0), white);
  position: relative;
  margin-top: -100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-flow: wrap;
      flex-flow: wrap;
}

.se-nosotros .se-nosotros-info {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-flow: wrap;
      flex-flow: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
}

.se-nosotros .se-nosotros-info .se-nosotros-tit {
  widows: 90%;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  padding-left: 10%;
  font-family: MontExtraBold;
  font-size: 30pt;
  text-transform: uppercase;
  color: #522d6d;
}

.se-nosotros .se-nosotros-info .se-nosotros-desc {
  margin-top: 30px;
  font-family: MontUltraLight;
  widows: 90%;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  padding-left: 10%;
}

.se-nosotros .se-nosotros-info .se-nosotros-button {
  width: 200px;
  height: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #fff;
  font-family: MontBold;
  background: #ffb259;
  border-radius: 10px;
  margin-top: 30px;
  margin-left: 10%;
  cursor: pointer;
}

.se-nosotros .se-nosotros-img {
  width: 50%;
}

.se-nosotros .se-nosotros-img img {
  width: 80%;
}

.se-vision {
  width: 100%;
  height: 65vh;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0)), to(rgba(255, 255, 255, 0)));
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0));
  position: relative;
  margin-top: -100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-flow: wrap;
      flex-flow: wrap;
}

.se-vision .se-vision-info {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-flow: wrap;
      flex-flow: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
}

.se-vision .se-vision-info .se-vision-tit {
  widows: 90%;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  padding-left: 10%;
  font-family: MontExtraBold;
  font-size: 30pt;
  text-transform: uppercase;
  color: #522d6d;
}

.se-vision .se-vision-info .se-vision-desc {
  margin-top: 30px;
  font-family: MontLight;
  widows: 90%;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  padding-left: 10%;
}

.se-vision .se-vision-info .se-vision-button {
  width: 200px;
  height: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #fff;
  font-family: MontBold;
  background: #ffb259;
  border-radius: 10px;
  margin-top: 30px;
  margin-left: 10%;
  cursor: pointer;
}

.se-vision .se-vision-img {
  width: 50%;
}

.se-vision .se-vision-img img {
  width: 70%;
}

.se-aprende {
  width: 100%;
  height: 65vh;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0)), to(rgba(255, 255, 255, 0)));
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0));
  position: relative;
  margin-top: -100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-flow: wrap;
      flex-flow: wrap;
}

.se-aprende .se-aprende-info {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-flow: wrap;
      flex-flow: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
}

.se-aprende .se-aprende-info .se-aprende-tit {
  widows: 90%;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  padding-left: 10%;
  font-family: MontExtraBold;
  font-size: 30pt;
  text-transform: uppercase;
  color: #522d6d;
}

.se-aprende .se-aprende-info .se-aprende-desc {
  margin-top: 30px;
  font-family: MontLight;
  widows: 90%;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  padding-left: 10%;
}

.se-aprende .se-aprende-info .se-aprende-button {
  width: 200px;
  height: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #fff;
  font-family: MontBold;
  background: #ff7f30;
  border-radius: 10px;
  margin-top: 30px;
  margin-left: 10%;
  cursor: pointer;
}

.se-aprende .se-aprende-img {
  width: 50%;
}

.se-aprende .se-aprende-img img {
  width: 70%;
}

.segundo-index {
  width: 100%;
  min-height: 200px;
  background: #fff;
  border-top-right-radius: 150px;
}

* {
  margin: 0;
  padding: 0;
}

body {
  background: #f1f2f2;
}

@font-face {
  font-family: 'Montserrat-Bold';
  src: url(../fonts/Montserrat-Bold.otf) format("opentype");
  font-family: 'Montserrat-Black';
  src: url(../fonts/Montserrat-Black.otf) format("opentype");
  font-family: 'Montserrat Light';
  src: url(../fonts/Montserrat-Light.otf) format("opentype");
}

#home-container {
  width: 100%;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-flow: wrap;
      flex-flow: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-image: url("../assets/Web_DirectorioM_Directorio_IMG.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

#home-container #home-titulo {
  width: 100%;
  text-align: center;
  text-transform: uppercase;
  font-family: MontBold;
  font-weight: bolder;
  margin-bottom: 50px;
  color: #522d6d;
  font-size: 40pt;
}

#home-container #barra-busqueda {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#home-container .busqueda-filtro {
  height: 35px;
  width: 150px;
  border: none;
  background-color: #f1f2f2;
  padding-left: 20px;
  border-top-left-radius: 50px;
  border-bottom-left-radius: 50px;
  color: #a975b2;
  font-style: italic;
  font-family: 'Montserrat Light';
}

#home-container #busqueda-caja {
  width: 400px;
  margin-right: 10px;
  border-top-right-radius: 50px;
  border-bottom-right-radius: 50px;
  overflow: hidden;
}

#home-container #busqueda-caja input {
  width: 100%;
  height: 35px;
  border: none;
  outline: none;
  padding-left: 20px;
}

#home-container #busqueda-boton {
  width: 100px;
  height: 35px;
  border-radius: 50px;
  color: #522d6d;
  background-color: #ffb259;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
  font-family: 'Montserrat-Bold',sans-serif;
  font-weight: bolder;
  text-align: center;
}

#home-container #busqueda-boton p {
  margin-left: 10px;
}

#directorio-container {
  width: 100%;
  height: auto;
}

#directorio-container #directorio-search-bar {
  width: 100%;
  height: 50px;
  background-color: #522d6d;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#directorio-container #directorio-search-bar #filtrar-texto {
  width: 100px;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
  color: #fff;
  font-family: 'Montserrat',sans-serif;
  font-weight: bolder;
}

#directorio-container #directorio-search-bar .sub-title {
  margin-left: 30px;
  margin-right: 10px;
  color: #fff;
  font-family: 'Montserrat',sans-serif;
  font-style: italic;
}

#directorio-container #directorio-search-bar #alfa {
  margin-left: 30px;
}

#directorio-container #directorio-search-bar #estrellas {
  color: #ffb259;
}

#directorio-container #directorio-search-bar select {
  padding: 2px;
  color: #333;
}

#directorio-container #directorio-cards {
  width: 100%;
  min-height: 200px;
  background: #f1f2f2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-flow: wrap;
      flex-flow: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-top: 50px;
  padding-bottom: 50px;
}

#directorio-container #directorio-cards .boton-tarjetas-final {
  width: 200px;
  height: 30px;
  margin-top: 30px;
  background-color: #ff7f30;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #fff;
  font-family: MontBold;
  border-radius: 5px;
}

#directorio-container #reslutados-texto {
  width: 50%;
  height: 20px;
  padding-left: 10%;
  color: #444;
  font-family: 'Montserrat-Black',sans-serif;
  font-weight: bolder;
}

#directorio-container .resultados-paginas {
  width: 40%;
  height: 20px;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: 'Montserrat-Black',sans-serif;
  font-size: 0.8em;
  color: #444;
}

#directorio-container .resultados-paginas input {
  width: 20px;
  height: 20px;
}

#directorio-container .resultados-paginas p {
  width: 20px;
}

#directorio-container .resultados-paginas #paginas-totales {
  margin-right: 10px;
}

#directorio-container .resultados-paginas .left-page {
  color: #ffb259;
  font-size: 2em;
  font-weight: bolder;
  cursor: pointer;
}

#directorio-container .resultados-paginas .right-page {
  color: #ffb259;
  font-size: 2em;
  font-weight: bolder;
  cursor: pointer;
}

#directorio-container #tarjetas {
  margin-top: 50px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-flow: wrap;
      flex-flow: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#directorio-container .card-medico {
  width: 400px;
  height: 380px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-flow: wrap;
      flex-flow: wrap;
  border-radius: 20px;
  background-color: #fff;
  overflow: hidden;
  margin: 5px;
}

#directorio-container .card-medico .card-categoria {
  position: relative;
  margin-left: auto;
  margin-right: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  padding-bottom: 2px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  color: #fff;
  font-family: 'Montserrat', sans-serif;
  border-bottom-left-radius: 20px;
  width: 100px;
  height: 30px;
  background-color: #ffb259;
}

#directorio-container .card-medico .card-img-container {
  width: 100%;
  padding-left: 20px;
  position: relative;
  margin-top: -32px;
}

#directorio-container .card-medico .card-img-container .card-img {
  width: 100px;
  height: 100px;
  border-radius: 50px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#directorio-container .card-medico .card-rama {
  width: 100%;
  padding-left: 20px;
  font-size: 0.9em;
  color: #84dade;
  font-family: MontBold;
}

#directorio-container .card-medico .card-nombre {
  width: 100%;
  padding-left: 20px;
  font-size: 1.2em;
  font-family: MontBold;
  color: #522d6d;
}

#directorio-container .card-medico .card-especialidad {
  width: 100%;
  padding-left: 20px;
  font-size: 0.9em;
  color: #84dade;
  font-family: MontBold;
}

#directorio-container .card-medico .card-descripcion {
  width: 100%;
  padding-left: 20px;
  font-family: MontLight;
}

#directorio-container .card-medico .card-ver-mas {
  width: 100px;
  height: 20px;
  text-align: center;
  border-radius: 5px;
  margin-left: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
  padding: 3px;
  color: #fff;
  font-family: MontRegular;
  background-color: #ff7f30;
  cursor: pointer;
}

#directorio-container .card-medico .card-ubicacion {
  position: relative;
  margin-left: auto;
  margin-right: 20px;
  font-family: MontUltraLight;
}

.afiliarse {
  width: 100%;
  height: 550px;
  background-color: #fff;
  border-top-left-radius: 150px;
  padding-top: 20px;
}

.afiliarse .afiliarse-background-container {
  margin-left: auto;
  margin-right: 0;
  border-top-left-radius: 400px;
  border-bottom-left-radius: 400px;
  overflow: hidden;
  width: 60%;
  height: 90%;
  background-image: url("../assets/directorio/photo-of-mountains-during-dawn-2088169.jpg");
  background-position: left;
  background-repeat: no-repeat;
  background-size: cover;
}

.afiliarse .afiliarse-background-container .afiliarse-background {
  width: 100%;
  height: 500px;
  background-image: url("../assets/directorio/photo-of-mountains-during-dawn-2088169.jpg");
  background-position: left;
  background-repeat: no-repeat;
  background-size: cover;
}

.afiliarse .afiliarse-info {
  top: -450px;
  margin-left: 10%;
  position: relative;
  background-color: #fff;
  width: 60%;
  height: 400px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
          box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  padding-bottom: 10px;
  border-radius: 20px;
}

.afiliarse .afiliarse-info .afiliarse-titulo {
  width: 85%;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  font-family: MontBold;
  text-transform: uppercase;
  padding-left: 60px;
  margin-top: 20px;
  color: #ff7f30;
  font-size: 1.8em;
}

.afiliarse .afiliarse-info .afiliarse-desccripcion {
  width: 85%;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  font-family: MontLight;
  padding-left: 60px;
  margin-top: 20px;
  color: #333;
}

.afiliarse .afiliarse-info .afiliarse-beneficios {
  width: 85%;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  font-family: MontBold;
  text-transform: uppercase;
  padding-left: 60px;
  margin-top: 20px;
  color: #a975b2;
  font-size: 1.8em;
}

.afiliarse .afiliarse-info .afiliarse-lista {
  width: 85%;
  height: 20px;
  font-family: MontLight;
  padding-left: 60px;
  margin-top: 5px;
  color: #333;
}

.afiliarse .afiliarse-info li::marker {
  color: #ff7f30;
}

.afiliarse .afiliarse-info .botones-container {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 20px;
}

.afiliarse .afiliarse-info .afiliarse-descargar {
  width: 150px;
  padding: 1px 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 30px;
  background-color: #ffb259;
  color: #fff;
  margin-left: 60px;
  border-radius: 5px;
  font-family: MontBold;
  font-size: 0.8em;
  cursor: pointer;
}

.afiliarse .afiliarse-info .afiliarse-boton {
  width: 150px;
  padding: 1px 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 30px;
  background-color: #ff7f30;
  color: #fff;
  margin-left: 60px;
  border-radius: 5px;
  font-family: MontBold;
  font-size: 0.8em;
  cursor: pointer;
}

body {
  background: #f1f2f2;
}

.home-bienestar {
  height: 100vh;
  width: 100%;
  background: #a975b2;
  background: -webkit-gradient(linear, left top, right top, from(#a975b2), color-stop(45%, #84dade), to(#fecb8b));
  background: linear-gradient(90deg, #a975b2 0%, #84dade 45%, #fecb8b 100%);
}

#header {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-flow: wrap;
      flex-flow: wrap;
  z-index: 1000;
  position: absolute;
}

#header-logo {
  width: 480px;
  padding-top: 20px;
  margin-left: 20px;
}

#header-logo img {
  width: 100%;
}

#header-bar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-flow: wrap;
      flex-flow: wrap;
  padding-top: 70px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: auto;
  margin-right: 5%;
  font-size: 1em;
  font-family: 'MontBold';
  color: #fff;
}

.header-o {
  margin-left: 30px;
  margin-right: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-flow: wrap;
      flex-flow: wrap;
  cursor: pointer;
}

.header-o a {
  width: 100%;
}

#header-bar a:hover ~ #border-b {
  width: 80%;
  background-color: #fff;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

#border-b {
  margin-left: auto;
  margin-right: auto;
  width: 1%;
  height: 2px;
  background-color: none;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.nos-motiva {
  font-family: 'MontRegular';
  color: #a975b2;
  background: #fff;
  padding-bottom: 150px;
  border-bottom-left-radius: 150px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-flow: wrap;
      flex-flow: wrap;
}

.nos-motiva p {
  padding-top: 1rem;
  font-family: 'MontUltraLight';
  font-size: .9rem;
  color: black;
}

.nos-motiva h2 {
  font-size: 1.7rem;
  letter-spacing: 1px;
  font-family: 'MontUltraLight';
  text-transform: uppercase;
}

.nos-motiva h1 {
  font-size: 1.7rem;
  letter-spacing: 1px;
  font-family: 'MontRegular';
  text-transform: uppercase;
}

.motiva-header {
  width: 100%;
  margin: 0 auto;
  padding-top: 3rem;
  text-align: center;
}

.motiva-triptico {
  padding-top: 3rem;
  width: 100%;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-flow: wrap;
      flex-flow: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.separacion-triptico {
  height: 100%;
  width: 1px;
  background-color: #ddd;
  margin-left: 30px;
  margin-right: 30px;
}

.card {
  width: 300px;
}

.contacto {
  background: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: .9rem;
  font-family: 'MontRegular';
  color: black;
  border-top-right-radius: 150px;
  width: 100%;
  padding-bottom: 100px;
  padding-top: 50px;
}

.message-contact {
  width: 40%;
  margin-right: 0;
  margin-left: auto;
  padding-top: 1rem;
}

.message-contact h1 {
  font-family: 'MontBold';
  letter-spacing: 4px;
  font-size: 3rem;
  color: #522d6d;
  text-transform: uppercase;
}

.message-contact h2 {
  font-family: 'MontUltraLight';
  font-size: 1rem;
  color: black;
  padding-top: 1rem;
  line-height: 1.5;
}

.datosExpo {
  padding-top: 1rem;
  font-size: 1rem;
  font-family: 'MontHair';
  color: #4b4b4b;
}

.datosExpo h3 {
  padding-top: 1rem;
}

.datosExpo a {
  font-size: 2rem;
  color: #84dade;
}

.formcontact {
  width: 40%;
  margin-left: 0;
  margin-right: auto;
  padding-left: 50px;
  padding-top: 5.6rem;
}

.contact-form {
  font-size: 1.2rem;
}

.contact-form input, .contact-form select {
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom-width: 1px;
  border-bottom-color: #a975b2;
  width: 100%;
  padding-top: .5rem;
  font-family: 'MontRegular';
}

.contact-form ::-webkit-input-placeholder {
  color: #525252;
  opacity: 1;
  font-size: 1rem;
}

.contact-form :-ms-input-placeholder {
  color: #525252;
  opacity: 1;
  font-size: 1rem;
}

.contact-form ::-ms-input-placeholder {
  color: #525252;
  opacity: 1;
  font-size: 1rem;
}

.contact-form ::placeholder {
  color: #525252;
  opacity: 1;
  font-size: 1rem;
}

.contact-form label {
  color: #808080;
}

.contact-form .asunto-input {
  width: 50%;
}

.contact-form .telefono-input {
  width: 49%;
}

.contact-form #tel-label {
  padding-left: 12.7rem;
}

.contact-form button {
  width: 6rem;
  height: 2.3rem;
  border: none;
  border-radius: 12px;
  font-family: 'MontBold';
  font-size: 1rem;
  color: white;
  background-color: #ff7f30;
}

.footer {
  height: 100%;
  width: 100%;
  background-color: #522d6d;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-family: 'MontRegular';
  font-size: .8rem;
}

.footer a {
  text-decoration: none;
  color: white;
}

.footer-logo {
  width: 35%;
  padding-top: 7rem;
}

.footer-logo img {
  width: 100%;
}

.mapa-sitio {
  margin-left: auto;
  margin-right: 0;
  padding-top: 1.5rem;
  padding-left: 2rem;
  width: 15%;
}

.mapa-sitio ul {
  font-family: 'MontUltraLight';
  list-style-type: none;
}

.mapa-sitio li {
  padding-top: .5rem;
}

.forma-parte-footer {
  padding-top: .5rem;
  width: 15%;
  padding-top: 1.5rem;
}

.forma-parte-footer ul {
  font-family: 'MontUltraLight';
  list-style-type: none;
}

.forma-parte-footer li {
  padding-top: .5rem;
}

.nuestras-redes {
  padding-top: 1.5rem;
  font-size: 1rem;
  width: 25%;
  margin-right: auto;
  margin-left: 0;
}

.nuestras-redes h2 {
  font-size: 1rem;
}

.redes-sociales {
  padding-top: .2rem;
}

.redes-sociales a {
  font-size: 2.2rem;
}

.footer-li-dir {
  font-family: 'MontBold';
}
/*# sourceMappingURL=style.css.map */